<!DOCTYPE html>
<html>
<head>
  <title>Mypage</title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= root_path %>>
          Joshua
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#"><span class="glyphicon glyphicon-plus"></span>Add Place</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Blog', blog_path %></li>
            <li><%= link_to 'My Profile', "#"%></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<% if notice.present? %>
  <p class="notice alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</div>

<br class="clr"/><br/>

<footer id="footer">
    <div class="col-xs-12 footer_comment">
      More projects by me on<a href="https://github.com/tohyung85"> Github</a>
      <br class="clear"/>
      Check out <a href="http://www.thefirehoseproject.com/">Firehose Project</a> where I learned my skills!
  </div>
</footer>

</body>
</html>
